@page "/"
@implements IBackendToFrontend
@implements IAsyncDisposable
@inject ISignalRConnection SignalR
@inject IFrontendToBackend FrontendToBackend

<PageTitle>Home</PageTitle>

<h1>@Message</h1>

Welcome to your new app.

<button @onclick="ButtonClicked">Click this button</button>

@code{
    string? Message;
    protected override async Task OnInitializedAsync()
    {
        await SignalR.RegisterHubClientAsync(this);
    }
    async Task ButtonClicked()
    {
        await FrontendToBackend.NotifyToAll("Button was clicked!");
    }
    Task IBackendToFrontend.Notify(string message)
    {
        Message = message;
        return Task.CompletedTask;
    }
    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        await SignalR.UnRegisterHubClientAsync(this);
    }
}